body {
font-family: "Roboto", sans-serif;
background-color: var(--color-white);
color: var(--color-slate);
}

button {
    cursor: pointer;
}

:root {
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy-blue: #2e2f42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-navy-blue-modal: #2e2f42;
    --color-grey: #2e2f42;
    --color-white: #ffffff;
    --color-dairy: #fcfcfc;
}

li {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

.list{
list-style: none;
}

.address-list {
    font-style: normal
}


.nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-navy-blue);
}

.nav-link:hover {
color: var(--color-ocean);
}

.nav-link:focus {
color: var(--color-ocean);
}

.address-link {
    font-style: normal
}

.header-link {
    font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        color: var(--color-iris);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        
}

.logo-span {
    color: var(--color-navy-blue);
}

.footer-title {
            font-weight: 800;
            font-size: 18px;
            line-height: 1.16;
            color: var(--color-cloud);
}


.contact-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-slate);
}

.contact-link:focus,
.contact-link:hover {
    color: var(--color-ocean);
}


.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--color-iris);
    color: var(--color-white);
    letter-spacing: 0.04em;
    width: 169px;
    height: 56px;
    border: 0;
    border-radius: 4px;
}

.button:hover,
.button:focus {
    color: var(--color-white);
    background-color: var(--color-ocean);
}

 .button-list{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: var(--color-iris);
        background-color: var(--color-cloud);
        letter-spacing: 0.04em
}
.button-list:focus,
.button-list:hover {
    background-color:var(--color-ocean) ;
    color: var(--color-white);
}



.list-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-grey);
    text-align: left;
    text-transform: capitalize;
}

.list-item-team {
        font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: var(--color-grey);
            text-align: center;
            text-transform: capitalize;
}

.list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
}

.title-list {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        color: var(--color-navy-blue);
        text-align: center;
        text-transform: capitalize;
        letter-spacing: 0.02em
}

.title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--color-white);     
}

.section-title {
    background-color: var(--color-grey);
    
}

.section-list {
background-color: var(--color-cloud);
}

.list-image {
    background-color: var(--color-white);
}

.footer-section {
    background-color: var(--color-navy-blue);
}

.footer-span {
    color: var(--color-cloud);
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-cloud);
}

/* ========================== Header ========================== */
a {
    text-decoration: none;}
ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;}

.container{
    display: flex;
    max-width: 1156px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 24px 15px;
}

/* навігація */
.header-nav{
    align-items: center;
    display: flex;
}

/* всі списки li */
.header-list {
    display: flex;
    gap: 40px;
    margin-left: 76px;
}
/* email telefon */
.header-list-address{
    display: flex;
    align-items: center;
    gap: 40px;}
/*=================================== TITLE BUTTON ===========================*/
/*секція*/
.main-title{
    display: block;
    padding: 188px 472px;}
/*заголовок*/
.title-text{
    max-width: 496px;
    max-height: 120px;
    margin: 0 auto;}
/*кнопка*/
.main-button{
    display: block;
    max-width: 169px;
    max-height: 56px;
   margin: 0 auto;
   padding-top: 48px;}
/* ============================== Main text content ===============================*/
/* секція */
.text-section{
width: 1156px;
height: 104px;
margin: 0 auto;
padding: 120px 0;
}
/* Батьківський бокс ul */
.text-list-parent{
display: flex;
gap: 24px;
}
/* Дочірний бокс li */
.text-lis-item {
flex-basis: calc((100% - 72px)/4);
}
/* =============================== Main img conten 1 ===================================== */

/* =======================================  ============================================= */